@model Entities.StavkaReklamacije

@{
    ViewData["Title"] = "Edit";
}

<h3>Izmeni podatke o reklamaciji</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rb" />

            <div class="form-group">
                <label class="control-label">Reklamacija</label>
                <select asp-for="brojReklamacije">
                    <option selected value="@ViewBag.brojReklamacije">@ViewBag.reklamacija</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Kolicina</label>
                <input asp-for="kolicina" class="form-control" />
                <span asp-validation-for="kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Razlog</label>
                <input asp-for="razlog" class="form-control" />
                <span asp-validation-for="razlog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="cols-sm-2 control-label">Artikal</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <select asp-for="artikalID" class="form-control" asp-items="ViewBag.artikalID"></select>
                    </div>
                    <span asp-validation-for="artikalID"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
