@model Entities.Artikal

@{
    ViewData["Title"] = "Create";
}

<h3>Dodaj novi artikal</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Naziv artikla</label>
                <input asp-for="naziv" class="form-control" />
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">PDV</label>
                <input asp-for="pdv" class="form-control" />
                <span asp-validation-for="pdv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rabat</label>
                <input asp-for="rabat" class="form-control" />
                <span asp-validation-for="rabat" class="text-danger"></span>
            </div>

            <h4>Unesite podatke o ceni</h4>

            <div class="form-group">
                <label class="control-label">Datum</label>
                <input asp-for="ListaCena.ElementAt(0).datumOd" type="datetime-local" class="form-control" />
                <span asp-validation-for="ListaCena.ElementAt(0).datumOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Iznos</label>
                <input asp-for="ListaCena.ElementAt(0).iznos" class="form-control" />
                <span asp-validation-for="ListaCena.ElementAt(0).iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-success" />

                <a asp-action="Index" asp-controller="Artikal" class="btn btn-primary">Lista artikala</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
