@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli!</h1>
    <img src="https://yuhorducan.rs/wp-content/uploads/cropped-logo-723x723.png" />
</div>
