@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">GRESKA</h1>

    <p>
        <strong> Nesto nije u redu.</strong>
    </p>

    <p>
         @Model.Poruka
    </p>
